








div:nth-child(2){
    box-shadow: 3px 2px 3px 3px rgba(0, 0, 0, 0.76);
}

main {
    margin-left: 220px;
    margin-top: 13vh;
}

main>section {
    width: 100%;
    height: 87vh;
    /*border: 1px solid red;*/
}

main>section:nth-child(2)>div:first-of-type{
    display: inline-block;
    color: white;        
}
main>section:nth-child(2)>div>i:first-of-type {
    font-size: 28px;
}
main>section:nth-child(2)>div>h2:first-of-type {
    display: inline-block;
    margin-left: 15px;
}

main>section>div:last-of-type {
    max-height: 250px;
}






